/*titles*/
.sections-titles h3 {
    margin-left: 10px;
}


/*projects-desc*/
.sections-projects-desc h4 {
    margin: 0px;
}

.sections-projects-desc h5 {
    margin: 0px;
}

.sections-projects-desc p {
    margin: 0px;
}