/* Document.header.contacts*/
#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding-left: 4vw;
    padding-right: 4vw;

    padding-bottom: 1vh;
    padding-top: 3vh;

    border-bottom-style: double;
    border-bottom-color: rgb(63,61,61, 0.2);
}

#contacts div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#contacts div * {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

#contacts div img{
    width: 18px;
    margin-right: 5px;
}

