.sections-charts > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    flex-basis: 25%;
    flex-grow: 1;
}

.sections-charts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}