@media screen and (max-width: 800px) {
    .sections-projects-desc{
        padding-left: 10px;
    }    
}

.sections-projects-desc h4 {
    padding-top: 10px;
    margin: 0px;
    text-decoration: underline;
}

.sections-projects-desc h5 {
    margin-left: 5vw;
    margin-right: 0vw;
    margin-top: 30px;
    margin-bottom: 0vw;
}

.sections-projects-desc p {
    margin-left: 10vw;
    margin-right: 0vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
}
