.sections {
    /* padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px; */
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vh;
}

.sections-body{
    /* margin-left: 50px;
    margin-top: 16px;
    margin-bottom: 16px; */

}


