/* Document.header.contacts*/
#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
}

#contacts div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

#contacts div * {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

#contacts div img{
    width: 18px;
    margin-right: 5px;
}

