/* Document */
#document {
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8vw;
    padding-right: 8vw;
    max-width: 1080px;
}

/* Document.header*/
#document-header {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-bottom: 10vh;
}

