.sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 600px;
}

.sections-body {
    
}

@media screen and (max-width: 800px) {
    .sections-body {
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width: 800px) {
    .sections-body {
        margin-left: 50px;
    }
}