.sections-projects-desc div>ul {
    margin-left: 10vw;
    margin-right: 0vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    list-style-position: inside;
    padding-left: 0px;
}

.sections-projects-desc div:not(:last-child) {
    margin-bottom: 80px;
}
.sections-projects-desc div:last-child {
    margin-bottom: 0px;
}