/* Configure Fonts */
@font-face {
    font-family: RBold;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: RThinItalic;
    src: url('../fonts/Roboto-ThinItalic.ttf');
}
@font-face {
    font-family: RRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: RMedium;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: RLight;
    src: url('../fonts/Roboto-Light.ttf');
}