.sections-history p {
    font-family: RLight, 'Segoe UI';
}

@media screen and (max-width: 800px) {
    .sections-history p {
        font-size: 15px;
        width: 50%;
    }
}


@media screen and (min-width: 800px) {
    .sections-history p {
        font-size: 18px;
    }
}
