.sections-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;    
}

.sections-titles img {
    margin-left: 0px;
    height: 24px;
}

.sections-titles>* {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}